# Python Documentation in Markdown

**This id ed**

*This is r*

## contecy

### conticnk

###### contrkj

Click here to proceed[Google](http://google.com)

# Image

<img src="download.png" height="120px" width="150px">

*This is Ramya*

-This is Ramya-

~~This is Ramya~~

~~Thauis iusam~~

_Extremely Is useful_

***This is Ramya***

# Python Basics

In [15]:
a=30
b=20
print(b,a)

20 30

In [16]:
a=30
b=20
a,b

(30, 20)

In [17]:
a

30

In [18]:
b

20

In [23]:
print(type(a),type(b))

<class 'int'> <class 'int'>

In [24]:
type(a),type(b)

(int, int)

In [26]:
s=123
d=12.3
e='('
h=True

In [36]:
s,d,e,f,h=123,12.3,'(','{',True
print(s,type(s))
print(d,type(d))
print(e,type(e))
print(h,type(h))
print(f,type(f))

123 <class 'int'>
12.3 <class 'float'>
( <class 'str'>
True <class 'bool'>
{ <class 'str'>

In [28]:
h

True

In [29]:
s

123

In [30]:
d

12.3

In [31]:
e

'('

In [35]:
f

'{'

In [37]:
r=a=m=12
print(r,type(r))
print(r,a,m)

12 <class 'int'>
12 12 12

# TypeCasting

- int()
- float()
- str()

In [1]:
i = input()
i

21

'21'

In [46]:
i = input()
print(i,type(i))

2
2 <class 'str'>

In [2]:
i = int(input("enter a num: "))
print(i,type(i))

enter a num22
22 <class 'int'>

In [7]:
d='32.22'
a=float(d)
b=int(a)
print(b,type(b))

32 <class 'int'>

In [8]:
d='32.22'
print(b,type(int(float(d))))

32 <class 'int'>

> Pardon my French

1. First list item
   - First nested list item
     - Second nested list item

- George Washington
- John Adams
- Thomas Jefferson

* George Washington
* John Adams
* Thomas Jefferson

1. James Madison
2. James Monroe
3. John Quincy Adams

100. First list item
     - First nested list item

- [x] Yes
- [ ] No